<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title>优橙协助首页</title>
		<link rel="stylesheet" type="text/css" href="css/help.css"/>
	</head>
	<body class="yxd">
		<div class="wrap">
			<div class="cover">
				
			</div>
			<div class="over">
				<div class="over_top">
					
				</div>
			</div>
			<header>
				<div class="head_left"><img src="images/wallet_more_02.gif" /></div>
				<div class="head_center">优橙协助</div>
				<div class="head_right"><img src="images/wallet_more.gif" /></div>
			</header>
			<section>
				<div class="read">若是首次定制,请先阅读<span>《优橙协助服务说明》</span></div>
				<div class="text">
					<div class="list">
						<div class="list_left">作品类型:</div>
						<div class="list_center">列表中以外的类型暂时不可定制</div>
						<div class="list_right"><img src="images/index_20.gif"/></div>
					</div>
					<div class="list">
						<div class="list_left">材质:</div>
						<div class="list_center">列表中以外的材质暂不可定制</div>
						<div class="list_right"><img src="images/index_20.gif"/></div>
					</div>
					<div class="write">
                    	<div class="write_left">作品名称:</div>
                    	<div class="write_right"><input type="text" placeholder="请输入商品名称" /></div>
					</div>
					<div class="write">
                    	<div class="write_left">作品描述:</div>
                    	<div class="write_right"><input type="text" placeholder="请详细描述作品的样式.规格.功能等信息" /></div>
					</div>
					<div class="write">
                    	<div class="write_left">数量:</div>
                    	<div class="write_right"><input type="text" placeholder="请输入商品数量" /></div>
					</div>
					<div class="pic">
						<div class="pic_tit">成品图片(最多三张)</div>
						<div class="pic_three">
							<img src="images/help.gif"/><img src="images/help.gif"/><img src="images/images/help_03_03.gif"/>
						</div>
					</div>
				</div>
				<div class="address">
					<div class="ads_left">
						<h2><img src="images/help_04.gif"/>收货人: <span>Jason</span> <b>13911391139</b> </h2>
						<h3><img src="images/help_05.gif"/>收货地址: <span>北京市海淀区</span></h3>
					</div>
					<div class="ads_right"><a href="help_mess.html"><img src="images/index_20.gif"/></a></div>
				</div>
			</section>
			<footer>
				<div class="foot_left">
					<p>参考定价:¥ <span>188.00</span><b class="status">(不含运费)</b></p>
				</div>
				<div class="foot_right">提交</div>
			</footer>
		</div>
		
	</body>
</html>
