<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>首次登录</title>
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="css/login_first.css"/>
	</head>
	<body class="yxd">
		<div class="wrap">
			<div class="logo"><img src="images/login_logo.gif"/></div>
			<div class="name">优橙科技</div>
			<div class="input">
				<div class="input_one">
					<div class="one_left"><img src="images/login_2_01.gif"/></div>
					<div class="one_right"><input type="text" placeholder="请输入绑定手机号"/></div>
				</div>
				<div class="input_one">
					<div class="one_left"><img src="images/login_1_01.gif"/></div>
					<div class="one_right"><input type="text" placeholder="请输入绑定手机号"/> <span><img src="images/img/login_12.gif" class="img"/></span></div>
				</div>
			</div>
			<div class="button">登录</div>
			<div class="put">
				<div class="p_left">注册账号</div>
				<div class="p_right">忘记密码</div>
			</div>
		</div>
	</body>
</html>
