<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>我的钱包(更多查询)</title>
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="css/wallet_more.css"/>
		<script src="js/jquery-3.1.1.js"></script>
	</head>
	<body class="yxd">
		<div class="wrap">
			<header>
				<div class="head_left"><a href="wallet.html"><img src="images/wallet_more_02.gif"/></a></div>
				<div class="head_center">更多查询</div>
				<div class="head_right"><img src="images/wallet_more.gif"/></div>
			</header>
			<section>
				<div class="select">
					<ul class="parent">
						<li>
							<span class="span_style"></span>
							<a href="#">全部业务</a>
						</li>
						<li>
							<span></span>
							<a href="#">业务类型<span class="type"><img src="images/wallet_more_01.gif"/></span></a>
							<!--<ul>
								<li></li>
							</ul>-->
						</li>
						<li>
							<span></span>
							<a href="#">业务状态<span class="status"><img src="images/wallet_more_01.gif"/></span></a>
						</li>
						<li>
							<span></span>
							<a href="#">仅看冻结</a>
						</li>
					</ul>
				</div>
				<div class="list_one">
					<div class="list_left">
						<h2>销售收入: <span class="red">+230.00元</span> </h2>
						<h3>交易时间: <span>2016-06-16</span> <b>13:44</b></h3>
					</div>
					<div class="list_right">
						<h2>订单编号: <span>DFKAOD000000011</span> </h2>
						<h3><span>已完成</span></h3>
					</div>
				</div>
				<div class="list_one">
					<div class="list_left">
						<h2>销售收入: <span class="red">+230.00元</span> </h2>
						<h3>交易时间: <span>2016-06-16</span> <b>13:44</b></h3>
					</div>
					<div class="list_right">
						<h2>订单编号: <span>DFKAOD000000011</span> </h2>
						<h3><span>已完成</span></h3>
					</div>
				</div>
				<div class="list_one">
					<div class="list_left">
						<h2>销售收入: <span class="blue">-230.00元</span></h2>
						<h3>交易时间: <span>2016-06-16</span> <b>13:44</b></h3>
					</div>
					<div class="list_right">
						<h2>订单编号: <span>DFKAOD000000011</span> </h2>
						<h3><span>已完成</span></h3>
					</div>
				</div>
				<div class="list_one">
					<div class="list_left">
						<h2>销售收入: <span class="red">+230.00元</span> </h2>
						<h3>交易时间: <span>2016-06-16</span> <b>13:44</b></h3>
					</div>
					<div class="list_right">
						<h2>订单编号: <span>DFKAOD000000011</span> </h2>
						<h3><span>已完成</span></h3>
					</div>
				</div>
			</section>
		</div>
	</body>
	<script>
//		$(function(){
//			$(".parent>li").on("click",function(){
//				var index = $(this).index();
////				console.log(index);
//				$(".parent>li span").removeClass("span_style").eq(index).addClass("span_style");
//			})
//		})
	</script>
</html>
























