<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>我的钱包(业务明细)</title>
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="../css/wallet_detail.css"/>
	</head>
	<body class="yxd">
		<div class="wrap">
			<header>
				<div class="head_left"><img src="../images/wallet_more_02.gif"/></div>
				<div class="head_center">业务明细</div>
				<div class="head_right"><img src="../images/wallet_more.gif"/></div>
			</header>
			<section>
				<div class="one">
					<div class="one_left">账户金额变动</div>
					<div class="one_right">¥0(冻结金额变动:¥0.00)</div>
				</div>
				<div class="main">
					<div class="text"><div class="left">订单编号</div><div class="right">DKFOAD000000011</div></div>
					<div class="text"><div class="left">订单状态</div><div class="right">售后完成</div></div>
					<div class="text"><div class="left">销售收入</div><div class="right">+¥230.00</div></div>
					<div class="text"><div class="left">收入流水</div><div class="right">KDFOL12314-12-301412</div></div>
					<div class="text"><div class="left">销售退款</div><div class="right">-¥230.00</div></div>
					<div class="text"><div class="left">交易时间</div><div class="right">2016-06-16  13:44</div></div>
					<div class="text"><div class="left">退款流水</div><div class="right">KDFOS023912304</div></div>
					<div class="text"><div class="left">买家ID</div><div class="right">芋香园圭</div></div>
					
					
				</div>
				
			</section>
		</div>
	</body>
</html>
