<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>财务管理首页(我的钱包)</title>
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="../css/Wallet.css"/>
	</head>
	<body class="yxd">
		<div class="wrap">
			<header>
				<div class="head_left"><img src="../images/wallet_05.gif"/></div>
				<div class="head_center">优橙钱包</div>
				<div class="head_right"><img src="../images/wallet_04.gif"/></div>
			</header>
			<section>
				<div class="main">
					<div class="more"><a href="wallet_more.html"><span>查询更多</span></a></div>
					<div class="content">
						<h1 class="title">账户余额(元)</h1>
						<p class="money"><span>536.00</span><br />(冻结金额:230.00)</p>
						<p class="con">申请但未完成的提现金额被冻结,详情点击<span>"分类查询"</span></p>
						<div class="btn">
							<span class="btn_left"><a href="">充值</a></span>
							<span class="btn_right"><a href="">提现</a></span>
						</div>
					</div>
				</div>
				<div class="save">
					<div class="save_left"><img src="../images/wallet_09.gif"/></div>
					<div class="save_center">修改支付宝账号</div>
					<div class="save_right"><img src="../images/wallet_01.gif"/></div>
				</div>
				<div class="money_list">
					<h2 class="tit">现金流明细</h2>
					<div class="list_one">
						<div class="list_left">
							<h2>销售收入: <span class="red">+230.00元</span> </h2>
							<h3>交易时间: <span>2016-06-16</span> <b>13:44</b></h3>
						</div>
						<div class="list_right">
							<h2>订单编号: <span>DFKAOD000000011</span> </h2>
							<h3><span>已完成</span></h3>
						</div>
					</div>
					<div class="list_one">
						<div class="list_left">
							<h2>销售收入: <span class="red">+230.00元</span> </h2>
							<h3>交易时间: <span>2016-06-16</span> <b>13:44</b></h3>
						</div>
						<div class="list_right">
							<h2>订单编号: <span>DFKAOD000000011</span> </h2>
							<h3><span class="orange">进行中</span></h3>
						</div>
					</div>
					<div class="list_one">
						<div class="list_left">
							<h2>销售收入: <span class="blue">+230.00元</span> </h2>
							<h3>交易时间: <span>2016-06-16</span> <b>13:44</b></h3>
						</div>
						<div class="list_right">
							<h2>订单编号: <span>DFKAOD000000011</span> </h2>
							<h3><span>已完成</span></h3>
						</div>
					</div>
					<div class="list_one">
						<div class="list_left">
							<h2>销售收入: <span class="red">+230.00元</span> </h2>
							<h3>交易时间: <span>2016-06-16</span> <b>13:44</b></h3>
						</div>
						<div class="list_right">
							<h2>订单编号: <span>DFKAOD000000011</span> </h2>
							<h3><span>已完成</span></h3>
						</div>
					</div>
					
				</div>
			</section>

		</div>
	</body>
</html>
