@import url("reset.css");
.more {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.r {
  position: relative;
}
.a {
  position: absolute;
}
html,
body,
.wrap {
  width: 100%;
  height: 100%;
  background: #f2f2f2;
}
html {
  font-size: 62.5%;
}
.yxd .wrap {
  position: relative;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.yxd .wrap .cover {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  background: #000000;
}
.yxd .wrap .over {
  display: none;
  text-align: center;
  padding: 0 3rem;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background: none;
  position: absolute;
  left: 0;
  top: 0;
}
.yxd .wrap .over .cover_top {
  border-radius: 5px;
  margin: 12rem auto 0;
  width: 100%;
  height: auro;
  background: #ffffff;
}
.yxd .wrap .over .cover_top .ttop {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  width: 100%;
  height: auto;
  background: none;
  border-bottom: 1px solid #ccc;
}
.yxd .wrap .over .cover_top .ttop h2 {
  font-size: 1.6rem;
  line-height: 3rem;
  font-weight: bold;
}
.yxd .wrap .over .cover_top .ttop p {
  margin-bottom: 1rem;
}
.yxd .wrap .over .cover_top .button {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  width: 100%;
  height: auto;
  background: none;
}
.yxd .wrap .over .cover_top .button p {
  font-size: 1.4rem;
  padding: 1rem;
  box-sizing: border-box;
  text-align: center;
  color: #1187ff;
  -webkit-box-flex: 1;
}
.yxd .wrap .over .cover_top .button p:nth-child(1) {
  border-right: 1px solid #CCCCCC;
}
.yxd .wrap header {
  line-height: 4rem;
  border-bottom: 1px solid #bfbfbf;
  position: relative;
  width: 100%;
  height: 4rem;
  background: #f7f7f7;
}
.yxd .wrap header .head_left {
  position: absolute;
  left: 1rem;
  width: 2rem;
  height: auto;
  background: none;
}
.yxd .wrap header .head_left img {
  width: 1rem;
  height: auto;
  background: none;
}
.yxd .wrap header .head_center {
  text-align: center;
  font-size: 1.6rem;
}
.yxd .wrap section {
  -webkit-box-flex: 1;
}
.yxd .wrap section .list {
  padding: 0 1rem;
  box-sizing: border-box;
  line-height: 3rem;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  width: 100%;
  height: auto;
  background: #ffffff;
}
.yxd .wrap section .list .list_left {
  line-height: 3rem;
  width: auto;
  height: 3rem;
  background: none;
  font-size: 1.4rem;
}
.yxd .wrap section .list .list_right {
  -webkit-box-flex: 1;
  position: relative;
  color: #a6a6a6;
  width: 100%;
  height: auto;
  background: none;
  line-height: 3rem;
  box-sizing: border-box;
}
.yxd .wrap section .list .list_right input {
  color: #a6a6a6;
  margin-bottom: 0.4rem;
  padding: 0.3rem;
  box-sizing: border-box;
  border: none;
  outline: none;
  font-size: 1.4rem;
  width: 100%;
  height: 100%;
  background: none;
}
.yxd .wrap section .list .list_right .img {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 1.5rem;
  height: auto;
  background: none;
}
.yxd .wrap section .btn {
  padding: 1rem;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  background: none;
}
.yxd .wrap section .btn p {
  text-align: center;
  line-height: 3rem;
  border-radius: 5px;
  font-size: 1.6rem;
  color: #fff;
  width: 100%;
  height: auto;
  background: #ff7f1d;
}
