<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>后台登录</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script src="../js/bootstrap.min.js"></script>
		<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="../css/login.css" />
	</head>

	<body>
		<img src="../image/login.gif" class="back" />
		<div class="wrap">
			<div class="container">
			<div class="mydiv">
					 <form class="form-signin" role="form">
					 	<div class="col-lg-11 text-center text-info logo"><img src="../image/LOGIN_01.gif" /></div>
			            <!--<input type="text" class="form-control" placeholder="用户名" required autofocus />-->
			            <div class="input-group int">
							<span class="input-group-addon"><img src="../image/login_02.gif"/></span>
							<input type="text" class="form-control">
						</div>
			            <div class="input-group int">
							<span class="input-group-addon"><img src="../image/login_03.gif"/></span>
							<input type="text" class="form-control">
						</div>
			            <button class="btn btn-lg btn-block " type="submit">登录</button>
			            <button class="btn btn-lg btn-block " type="submit">登录</button>
			            <!--<label class="checkbox">
			                <input type="checkbox" value="remember-me"> 记住我
			            </label>-->
			        </form>
			</div>
			</div>

		</div>
	</body>

</html>