@import url(reset.css);
a {
  text-decoration: none;
}
.box {
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.boxx {
  -webkit-box-orient: horizontal;
}
.box_1 {
  -webkit-box-flex: 1;
}
.more {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.r {
  position: relative;
}
.a {
  position: absolute;
}
html {
  font-size: 62.5%;
}
html,
body,
#wrap {
  width: 100%;
  height: 100%;
  background: none;
}
.wsy #wrap {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  position: relative;
}
.wsy #wrap .zhe {
  width: 100%;
  height: 100%;
  background: #000000;
  display: none;
  opacity: 0.7;
  position: absolute;
  top: 0;
  left: 0;
}
.wsy #wrap .zhe1 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: none;
  display: none;
}
.wsy #wrap .zhe1 .zhe1_1 {
  padding: 0 1rem;
  box-sizing: border-box;
  text-align: center;
  width: 100%;
  height: auto;
  background: none;
  position: absolute;
  bottom: 0.5rem;
  left: 0;
}
.wsy #wrap .zhe1 .zhe1_1 p {
  width: 100%;
  height: auto;
  background: #ffffff;
}
.wsy #wrap .zhe1 .zhe1_1 p:nth-child(1) {
  padding: 1.2rem;
  box-sizing: border-box;
  border-bottom: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1.4rem;
  font-weight: bold ;
}
.wsy #wrap .zhe1 .zhe1_1 p:nth-child(2) {
  margin-top: 0.5rem;
  padding: 1.2rem;
  box-sizing: border-box;
  border-bottom: 1px solid #ccc;
  border-radius: 5px ;
  font-size: 1.4rem;
  font-weight: bold ;
  border-radius: 5px;
}
.wsy #wrap header {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-orient: horizontal;
  width: 100%;
  height: 4.4rem;
  background: #f7f7f7;
  border-bottom: 1px solid #ccc;
  line-height: 4.4rem;
  font-size: 1.7rem;
  font-weight: bold ;
  padding: 0 1rem;
  box-sizing: border-box;
}
.wsy #wrap header .left,
.wsy #wrap header .right {
  width: 8rem;
  height: auto;
  background: none;
}
.wsy #wrap header .left img,
.wsy #wrap header .right img {
  width: auto;
  height: 2rem;
  background: none;
  vertical-align: middle;
}
.wsy #wrap header .right {
  text-align: right;
}
.wsy #wrap header .right a {
  padding-right: 1rem;
  box-sizing: border-box;
  font-weight: initial ;
  color: #000;
  font-size: 1.5rem;
}
.wsy #wrap header h2 {
  -webkit-box-flex: 1;
  text-align: center;
  font-size: 2rem;
}
.wsy #wrap .finish_nav {
  width: 100%;
  height: auto;
  background: #ffffff;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-orient: horizontal;
  border-bottom: 1px solid #ccc;
}
.wsy #wrap .finish_nav dl {
  text-align: center;
  -webkit-box-flex: 1;
  overflow: hidden;
  font-size: 1.4rem;
}
.wsy #wrap .finish_nav dl dt {
  padding-top: 1rem;
  box-sizing: border-box;
}
.wsy #wrap .finish_nav .fin_nav {
  width: 5rem;
  height: 5rem;
  background: none;
  text-align: center;
  line-height: 5rem;
}
.wsy #wrap .finish_nav .fin_nav img {
  width: 2.1rem;
  height: auto;
  background: none;
  vertical-align: middle;
}
.wsy #wrap section {
  -webkit-box-flex: 1;
  overflow: auto;
  background: #f2f2f2;
}
.wsy #wrap section .sousuo {
  width: 100%;
  height: auto;
  background: #ffffff;
  padding: 1rem;
  box-sizing: border-box;
}
.wsy #wrap section .sousuo .sou {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-orient: horizontal;
  width: 100%;
  height: auto;
  background: #e4e4e4;
  border: 1px solid #ccc;
  border-radius: 0.25rem ;
  padding: 0.5rem ;
  box-sizing: border-box;
}
.wsy #wrap section .sousuo .sou img {
  width: 2rem;
  height: auto;
  background: none;
  vertical-align: middle;
}
.wsy #wrap section .sousuo .sou .sou1 {
  -webkit-box-flex: 1;
  padding-left: 1rem;
  box-sizing: border-box;
}
.wsy #wrap section .sousuo .sou .sou1 input {
  width: 100%;
  height: auto;
  background: none;
  font-size: 1.6rem;
  border: none;
  outline: none;
}
.wsy #wrap section .banner {
  width: 100%;
  height: auto;
  background: #ffffff;
}
.wsy #wrap section .banner .finish2 h2 {
  visibility: hidden;
}
.wsy #wrap section .banner .finish2 strong {
  visibility: hidden;
}
.wsy #wrap section .banner dl {
  padding: 0.7rem 1rem;
  box-sizing: border-box;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-orient: horizontal;
}
.wsy #wrap section .banner dl img {
  width: 7.2rem;
  height: auto;
  background: none;
}
.wsy #wrap section .banner dl dd {
  -webkit-box-flex: 1;
  padding-left: 1rem;
  box-sizing: border-box;
}
.wsy #wrap section .banner dl dd h2 {
  padding: 0.7rem 0 0.6rem 0;
  font-size: 1.6rem;
  color: #FF7E1C;
}
.wsy #wrap section .banner dl dd strong {
  color: #ccc;
  font-size: 1.5rem;
}
.wsy #wrap section .banner dl dd span {
  float: right;
  display: inline-block;
  margin-left: 1rem;
  padding: 0 0.2rem;
  color: #fff;
  box-sizing: border-box;
  background: #FF7E1C;
  border: 1px solid #FF540C;
  border-radius: 0.25rem ;
}
.wsy #wrap section .banner dl dd p:nth-child(2) {
  padding: 0.2rem 0;
  box-sizing: border-box;
}
.wsy #wrap section .banner2 {
  margin-top: 0.5rem;
}
.wsy #wrap section .banner1 {
  width: 100%;
  height: auto;
  background: #ffffff;
}
.wsy #wrap section .banner1 .finish2 h2 {
  visibility: hidden;
}
.wsy #wrap section .banner1 .finish2 strong {
  visibility: hidden;
}
.wsy #wrap section .banner1 dl {
  padding: 0.7rem 1rem;
  box-sizing: border-box;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-orient: horizontal;
}
.wsy #wrap section .banner1 dl img {
  width: 7.2rem;
  height: auto;
  background: none;
}
.wsy #wrap section .banner1 dl dd {
  -webkit-box-flex: 1;
  padding-left: 1rem;
  box-sizing: border-box;
}
.wsy #wrap section .banner1 dl dd h2 {
  padding: 0.7rem 0 0.6rem 0;
  font-size: 1.6rem;
  color: #FF7E1C;
}
.wsy #wrap section .banner1 dl dd strong {
  color: #ccc;
  font-size: 1.5rem;
}
.wsy #wrap section .banner1 dl dd span {
  float: right;
  display: inline-block;
  margin-right: 1rem;
  padding: 0 0.2rem;
  color: #fff;
  box-sizing: border-box;
  color: #FF540C;
  border: 1px solid #FF540C;
  border-radius: 0.25rem ;
}
.wsy #wrap section .banner1 dl dd p:nth-child(2) {
  padding: 0.2rem 0;
  box-sizing: border-box;
}
.wsy #wrap section .expo {
  width: 100%;
  height: auto;
  background: #ffffff;
  margin-top: 0.5rem;
}
.wsy #wrap section .expo p {
  padding: 0.7rem 1rem;
  box-sizing: border-box;
  font-size: 1.8rem;
}
.wsy #wrap section .expo .tu {
  width: 100%;
  height: auto;
  background: #ffffff;
}
.wsy #wrap section .expo .tu img {
  width: 100%;
  height: auto;
  background: #ffffff;
}
.wsy #wrap .footer1 {
  width: 100%;
  height: 5.2rem;
  background: none;
  border-top: 1px solid #ccc;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-orient: horizontal;
  line-height: 5rem;
  text-align: center;
  font-size: 1.6rem;
}
.wsy #wrap .footer1 div {
  -webkit-box-flex: 1;
  border-top: 1px solid #ccc;
}
.wsy #wrap .footer1 img {
  width: auto;
  height: 2rem;
  background: none;
  vertical-align: middle;
}
.wsy #wrap .footer1 b {
  margin-left: 0.5rem;
}
.wsy #wrap .footer1 div:nth-child(1) {
  border-right: 1px solid #ccc ;
}
