@import url("reset.css");
.more {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.r {
  position: relative;
}
.a {
  position: absolute;
}
html,
body,
.wrap {
  width: 100%;
  height: 100%;
  background: #f2f2f2;
}
html {
  font-size: 62.5%;
}
.yxd .wrap {
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.yxd .wrap header {
  border-bottom: 1px solid #bfbfbf;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  width: 100%;
  height: 4.4rem;
  background: #f7f7f7;
}
.yxd .wrap header .head_left {
  text-align: center;
  width: 3rem;
  height: 4rem;
  background: none;
}
.yxd .wrap header .head_left img {
  margin-top: 1.2rem;
  width: auto;
  height: 1.8rem;
  background: none;
}
.yxd .wrap header .head_center {
  -webkit-box-flex: 1;
  text-align: center;
  line-height: 4.4rem;
  font-size: 1.7rem;
  color: #262626;
  font-weight: bold;
}
.yxd .wrap header .head_right {
  text-align: center;
  width: 3rem;
  height: 4rem;
  background: none;
}
.yxd .wrap header .head_right img {
  margin-top: 1.2rem;
  width: auto;
  height: 1.8rem;
  background: none;
}
.yxd .wrap section {
  overflow-y: auto;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-flex: 1;
}
.yxd .wrap section::-webkit-scrollbar {
  width: 0;
}
.yxd .wrap section .select {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  width: 100%;
  height: auto;
  background: #ffffff;
}
.yxd .wrap section .select .parent {
  padding: 0.4rem 0;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  background: none;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
.yxd .wrap section .select .parent li {
  position: relative;
  line-height: 3rem;
  border-left: 1px solid #ccc;
  text-align: center;
  -webkit-box-flex: 1;
}
.yxd .wrap section .select .parent li a {
  font-size: 1.5rem;
  color: #333333;
}
.yxd .wrap section .select .parent li a span {
  margin-left: 0.3rem;
}
.yxd .wrap section .select .parent li a span img {
  width: 0.9rem;
  height: auto;
  background: none;
}
.yxd .wrap section .select .parent li .first {
  color: #ff7d1b;
}
.yxd .wrap section .select .parent li:nth-child(1) {
  border-left: none;
}
.yxd .wrap section .select .parent li .span_style {
  position: absolute;
  left: 0;
  bottom: -1px;
  display: inline-block;
  width: 100%;
  height: 2px;
  background: #ff7f1d;
}
.yxd .wrap section .main_name {
  margin-top: 0.5rem;
  padding: 1rem;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  background: #ffffff;
  font-size: 1.4rem;
  line-height: 2rem;
}
.yxd .wrap section .main {
  width: 100%;
  height: auto;
  background: #ffffff;
  margin-top: 0.2rem;
}
.yxd .wrap section .main .main_con {
  padding: 1rem 1rem 0rem 1rem;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  background: none;
}
.yxd .wrap section .main .main_con .ping {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
.yxd .wrap section .main .main_con .ping > div {
  -webkit-box-flex: 1;
}
.yxd .wrap section .main .main_con .ping .ping_left p {
  line-height: 2rem;
  color: #666666;
}
.yxd .wrap section .main .main_con .ping .ping_right {
  text-align: right;
}
.yxd .wrap section .main .main_con .ping .ping_right img {
  width: auto;
  height: 1.2rem;
  background: none;
}
.yxd .wrap section .main .content {
  padding: 0 1rem 0.3rem 1rem;
  box-sizing: border-box;
}
.yxd .wrap section .review {
  border-top: 1px solid #f3f3f3;
  margin-top: 0.2rem;
  padding: 0.8rem 1rem;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  background: #ffffff;
}
.yxd .wrap section .review .rev_click {
  border-radius: 5px;
  text-align: center;
  width: 6rem;
  height: 2rem;
  background: none;
  float: right;
  color: #ff7d1b;
  line-height: 2rem;
  border: 1px solid #ff7d1b;
}
.yxd .wrap section .add {
  width: 100%;
  height: auto;
  background: none;
  padding: 0rem 1rem 0.4rem 1rem;
  box-sizing: border-box;
}
.yxd .wrap section .add span {
  color: #666666;
}
.yxd .wrap section .mine_rev {
  width: 100%;
  height: auto;
  background: none;
  padding: 0 1rem 1rem 1rem;
  box-sizing: border-box;
}
.yxd .wrap section .mine_rev span {
  color: #ff7d1b;
}
