@import url("reset.css");
.more {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.r {
  position: relative;
}
.a {
  position: absolute;
}
html,
body,
.wrap {
  width: 100%;
  height: 100%;
  background: #f2f2f2;
}
html {
  font-size: 62.5%;
}
.yxd .wrap {
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.yxd .wrap header {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  width: 100%;
  height: 4.4rem;
  background: #ff7f1d;
}
.yxd .wrap header .head_left {
  text-align: center;
  width: 3rem;
  height: 4rem;
  background: none;
}
.yxd .wrap header .head_left img {
  margin-top: 1.2rem;
  width: auto;
  height: 1.8rem;
  background: none;
}
.yxd .wrap header .head_center {
  -webkit-box-flex: 1;
  text-align: center;
  line-height: 4.4rem;
  font-size: 1.6rem;
  color: #fff;
}
.yxd .wrap header .head_right {
  text-align: center;
  width: 3rem;
  height: 4rem;
  background: none;
}
.yxd .wrap header .head_right img {
  margin-top: 1.2rem;
  width: auto;
  height: 1.8rem;
  background: none;
}
.yxd .wrap section {
  padding-bottom: 3rem;
  box-sizing: border-box;
  overflow-y: auto;
  -webkit-box-flex: 1;
}
.yxd .wrap section::-webkit-scrollbar {
  width: 0;
}
.yxd .wrap section .main {
  padding: 1rem;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  background: #ffffff;
}
.yxd .wrap section .main .more {
  padding-right: 1rem;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  background: none;
}
.yxd .wrap section .main .more span {
  float: right;
  border-radius: 5px;
  text-align: center;
  border: 1px solid #ff7f1d;
  display: inline-block;
  width: 6.2rem;
  height: 1.9rem;
  background: none;
  line-height: 1.9rem;
  color: #ff7f1d;
}
.yxd .wrap section .main .content {
  width: 100%;
  height: auto;
  background: none;
}
.yxd .wrap section .main .content .title {
  color: #666666;
  line-height: 3.5rem;
  width: 100%;
  height: auto;
  background: none;
  text-align: center;
  font-size: 1.6rem;
}
.yxd .wrap section .main .content .money {
  width: 100%;
  height: auto;
  background: none;
  text-align: center;
  color: #999;
}
.yxd .wrap section .main .content .money span {
  font-size: 1.6rem;
  color: #ff7f1d;
  font-weight: bold;
}
.yxd .wrap section .main .content .con {
  line-height: 2rem;
  width: 100%;
  height: auto;
  background: none;
  text-align: center;
  color: #666666;
}
.yxd .wrap section .main .content .con span {
  color: #ff7f1d;
}
.yxd .wrap section .main .content .btn {
  width: 100%;
  height: auto;
  background: none;
  text-align: center;
}
.yxd .wrap section .main .content .btn span {
  margin: 0 1rem;
  box-sizing: border-box;
  border-radius: 20px;
  text-align: center;
  display: inline-block;
  width: 7rem;
  height: auto;
  background: none;
  line-height: 2.6rem;
  color: #ff7f1d;
  font-size: 1.6rem;
}
.yxd .wrap section .main .content .btn .btn_left {
  border: 1px solid #ff7f1d;
  background: #ff7f1d;
}
.yxd .wrap section .main .content .btn .btn_left a {
  color: #fff;
}
.yxd .wrap section .main .content .btn .btn_right {
  font-weight: bold;
  border: 1px solid #999999;
}
.yxd .wrap section .main .content .btn .btn_right a {
  color: #ff7f1d;
}
.yxd .wrap section .save {
  padding: 0 1rem;
  box-sizing: border-box;
  margin-top: 0.3rem;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  width: 100%;
  height: auto;
  background: #ffffff;
}
.yxd .wrap section .save .save_left {
  text-align: center;
  width: 2.2rem;
  height: 2.9rem;
  background: none;
}
.yxd .wrap section .save .save_left img {
  margin-top: 0.7rem;
  width: auto;
  height: 1.3rem;
  background: none;
}
.yxd .wrap section .save .save_center {
  -webkit-box-flex: 1;
  font-size: 1.6rem;
  color: #333333;
  line-height: 2.9rem;
}
.yxd .wrap section .save .save_right {
  text-align: center;
  width: 2rem;
  height: 2.9rem;
  background: none;
}
.yxd .wrap section .save .save_right img {
  margin-top: 0.9rem;
  width: auto;
  height: 1.3rem;
  background: none;
}
.yxd .wrap section .money_list {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  width: 100%;
  height: auto;
  background: #ffffff;
  margin-top: 0.3rem;
}
.yxd .wrap section .money_list .tit {
  padding: 0.5rem 1rem;
  box-sizing: border-box;
  border-bottom: 1px solid #f2f2f2;
  width: 100%;
  height: auto;
  background: none;
  line-height: 3rem;
  font-size: 1.6rem;
}
.yxd .wrap section .money_list .list_one {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  box-sizing: border-box;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  width: 100%;
  height: auto;
  background: none;
  border-bottom: 1px solid #f2f2f2;
}
.yxd .wrap section .money_list .list_one > div {
  -webkit-box-flex: 1;
}
.yxd .wrap section .money_list .list_one .list_left {
  line-height: 2rem;
}
.yxd .wrap section .money_list .list_one .list_left h2 {
  width: 100%;
  height: auto;
  background: none;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.yxd .wrap section .money_list .list_one .list_left h2 .red {
  color: red;
}
.yxd .wrap section .money_list .list_one .list_left h2 .blue {
  color: blue;
}
.yxd .wrap section .money_list .list_one .list_left h3 {
  width: 100%;
  height: auto;
  background: none;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.yxd .wrap section .money_list .list_one .list_right {
  line-height: 2rem;
  text-align: right;
}
.yxd .wrap section .money_list .list_one .list_right h2 {
  width: 100%;
  height: auto;
  background: none;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.yxd .wrap section .money_list .list_one .list_right h3 {
  width: 100%;
  height: auto;
  background: none;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.yxd .wrap section .money_list .list_one .list_right h3 .orange {
  color: #ff7f1d;
}
