@import url(reset.css);
a {
  text-decoration: none;
}
.box {
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.boxx {
  -webkit-box-orient: horizontal;
}
.box_1 {
  -webkit-box-flex: 1;
}
.more {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.r {
  position: relative;
}
.a {
  position: absolute;
}
html {
  font-size: 62.5%;
}
#wrap,
body,
html {
  width: 100%;
  height: 100%;
  background: none;
}
#wrap {
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
#wrap header {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-orient: horizontal;
  width: 100%;
  height: 4.5rem;
  background: #f7f7f7;
  border-bottom: 1px solid #ccc;
  line-height: 4.4rem;
  font-size: 1.6rem;
  font-weight: bold;
}
#wrap header .left,
#wrap header .right {
  text-align: center;
  width: 3rem;
  height: auto;
  background: none;
}
#wrap header .left img,
#wrap header .right img {
  width: auto;
  height: 2rem;
  background: none;
  vertical-align: middle;
}
#wrap header .right {
  width: 5rem;
  height: auto;
  background: none;
  text-align: center;
}
#wrap header h2 {
  -webkit-box-flex: 1;
  text-align: center;
}
#wrap section {
  -webkit-box-flex: 1;
  overflow: auto;
  background: #f2f2f2;
}
#wrap section .pro_index p {
  background: #fff;
  border-bottom: 1px solid #ccc;
  font-size: 1.3rem;
  padding: 0 0.5rem;
  line-height: 3.8rem;
  color: #262626;
}
#wrap section .pro_index p a {
  padding-left: 1.2rem;
  box-sizing: border-box;
  color: #000000;
}
#wrap section .pro_index p .i {
  float: right;
  padding-top: 1rem;
  box-sizing: border-box;
}
#wrap section .pro_index p:nth-child(1) {
  margin-top: 1rem;
}
#wrap section .pro_index p:nth-child(3) {
  margin-top: 1rem;
}
#wrap section .pro_index p:nth-child(8) {
  margin-top: 1rem;
}
#wrap section .pro_index img {
  width: auto;
  height: 2.4rem;
  background: none;
  vertical-align: middle;
}
#wrap footer {
  width: 100%;
  height: 5rem;
  background: #ffffff;
  border-top: 1px solid #bfbfbf;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
#wrap footer dl {
  text-align: center;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-flex: 1;
}
#wrap footer dl dt {
  margin-top: 0.5rem;
}
#wrap footer dl dt img {
  width: auto;
  height: 2.2rem;
  background: none;
}
#wrap footer dl dd {
  color: #989898;
}
#wrap footer dl .dd_color {
  color: #ff7f1d;
}
#wrap footer .div {
  padding-top: 0.5rem;
  box-sizing: border-box;
}
#wrap footer .div img {
  width: auto;
  height: 3rem;
  background: none;
}
