@import url(reset.css);
a {
  text-decoration: none;
}
.box {
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.boxx {
  -webkit-box-orient: horizontal;
}
.box_1 {
  -webkit-box-flex: 1;
}
.more {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.r {
  position: relative;
}
.a {
  position: absolute;
}
html {
  font-size: 62.5%;
}
html,
body,
#wrap {
  width: 100%;
  height: 100%;
  background: none;
}
.wsy #wrap {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  position: relative;
}
.wsy #wrap .zhe {
  width: 100%;
  height: 100%;
  background: #000000;
  display: none;
  opacity: 0.7;
  position: absolute;
  top: 0;
  left: 0;
}
.wsy #wrap .zhe1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: none;
  display: none;
}
.wsy #wrap .zhe1 .zhe1_1 {
  padding: 0 3rem;
  box-sizing: border-box;
  text-align: center;
  width: 100%;
  height: auto;
  background: none;
  position: absolute;
  top: 35%;
  left: 0;
}
.wsy #wrap .zhe1 .zhe1_1 p {
  width: 100%;
  height: auto;
  background: #ffffff;
}
.wsy #wrap .zhe1 .zhe1_1 p:nth-child(1) {
  padding: 2rem;
  box-sizing: border-box;
  border-bottom: 1px solid #ccc;
  border-radius: 5px 5px 0 0 ;
  font-size: 1.4rem;
}
.wsy #wrap .zhe1 .zhe1_1 .zhe1_1_ {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-orient: horizontal;
  background: #fff;
  text-align: center;
  border-radius: 0 0 5px 5px ;
}
.wsy #wrap .zhe1 .zhe1_1 .zhe1_1_ h1 {
  -webkit-box-flex: 1;
  padding: 1rem 0;
  box-sizing: border-box;
}
.wsy #wrap .zhe1 .zhe1_1 .zhe1_1_ h1 button {
  font-size: 1.6rem;
  color: #679DFF;
  border: none;
  outline: none;
  background: #fff;
}
.wsy #wrap header {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-orient: horizontal;
  width: 100%;
  height: 4.4rem;
  background: #f7f7f7;
  border-bottom: 1px solid #ccc;
  line-height: 4.4rem;
  font-size: 1.7rem;
  font-weight: bold ;
  padding: 0 1rem;
  box-sizing: border-box;
}
.wsy #wrap header .left,
.wsy #wrap header .right {
  width: 5rem;
  height: auto;
  background: none;
}
.wsy #wrap header .left img,
.wsy #wrap header .right img {
  width: auto;
  height: 2rem;
  background: none;
  vertical-align: middle;
}
.wsy #wrap header .right {
  text-align: center;
}
.wsy #wrap header h2 {
  -webkit-box-flex: 1;
  text-align: center;
}
.wsy #wrap header h2 a {
  padding: 0 0.5rem;
  box-sizing: border-box;
  color: #000000;
}
.wsy #wrap section {
  -webkit-box-flex: 1;
  overflow: auto;
  background: #f2f2f2;
}
.wsy #wrap section .tupian {
  width: 100%;
  height: auto;
  background: none;
}
.wsy #wrap section .tupian img {
  width: 100%;
  height: auto;
  background: none;
}
.wsy #wrap section .tupian1 {
  width: 100%;
  height: auto;
  background: #ffffff;
  padding: 0 1rem;
  box-sizing: border-box;
}
.wsy #wrap section .tupian1 .p {
  padding: 1rem 0;
  box-sizing: border-box;
}
.wsy #wrap section .tupian1 .p b {
  font-size: 1.8rem;
}
.wsy #wrap section .tupian1 .p span {
  float: right;
  background: url(../img/xiangqing_05.jpg) no-repeat left center;
  background-size: 1.7rem auto ;
  padding-left: 2rem;
  color: #FF7F1D;
}
.wsy #wrap section .tupian1 .pp {
  width: 100%;
  height: auto;
  background: #ffffff;
}
.wsy #wrap section .tupian1 .pp span {
  padding: 0.1rem 0.3rem;
  box-sizing: border-box;
}
.wsy #wrap section .tupian1 .pp span:nth-child(1) {
  display: inline-block;
  background: #FF7F1D;
  color: #fff;
  border: 1px solid #FF7F1D;
  border-radius: 0.25rem ;
}
.wsy #wrap section .tupian1 .pp span:nth-child(2) {
  font-size: 1.5rem;
  color: #FF7F1D;
}
.wsy #wrap section .tupian1 .pp span:nth-child(3) {
  text-decoration: line-through;
  color: #ccc;
}
.wsy #wrap section .tupian1 .tupian2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-orient: horizontal;
}
.wsy #wrap section .tupian1 .tupian2 p {
  -webkit-box-flex: 1;
  padding: 1rem 0;
  box-sizing: border-box;
  font-size: 1.4rem;
  color: #ccc;
}
.wsy #wrap section .tupian1 .tupian2 p:nth-child(1) {
  text-align: left;
}
.wsy #wrap section .tupian1 .tupian2 p:nth-child(2) {
  text-align: center;
}
.wsy #wrap section .tupian1 .tupian2 p:nth-child(3) {
  text-align: right;
}
.wsy #wrap section .details {
  margin-top: 0.3rem;
  width: 100%;
  height: auto;
  background: #ffffff;
  padding: 0 1rem;
  box-sizing: border-box;
}
.wsy #wrap section .details .p {
  padding: 1rem 0;
  box-sizing: border-box;
}
.wsy #wrap section .details .p b {
  font-size: 1.8rem;
  font-weight: initial ;
}
.wsy #wrap section .details .p span {
  float: right;
}
.wsy #wrap section .details .p span img {
  width: auto;
  height: 1.5rem;
  background: none;
  vertical-align: middle;
}
.wsy #wrap section .dl {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-orient: horizontal;
  background: #fff;
  padding-left: 1rem;
  box-sizing: border-box;
}
.wsy #wrap section .dl img {
  width: 2.5rem;
  height: auto;
  background: none;
}
.wsy #wrap section .dl dd {
  -webkit-box-flex: 1;
  padding-left: 1.6rem;
  box-sizing: border-box;
  color: #ccc;
}
.wsy #wrap section .dl dd h2 {
  font-size: 1.5rem;
}
.wsy #wrap section .ppp {
  padding: 1rem 2.5rem 0.5rem 4rem;
  box-sizing: border-box;
  background: #fff;
}
.wsy #wrap section img {
  width: auto;
  height: 2.4rem;
  background: none;
  vertical-align: middle;
}
.wsy #wrap section .details1 {
  width: 100%;
  height: auto;
  background: #ffffff;
  padding: 0 1rem;
  box-sizing: border-box;
  margin-top: 0.3rem;
}
.wsy #wrap section .details1 .p {
  padding: 1rem 0;
  box-sizing: border-box;
  border-bottom: 1px solid #ccc;
}
.wsy #wrap section .details1 .p b {
  font-size: 1.8rem;
  font-weight: initial ;
}
.wsy #wrap section .details1_1 {
  width: 100%;
  height: auto;
  background: #ffffff;
  box-sizing: border-box;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-orient: horizontal;
}
.wsy #wrap section .details1_1 .details1_1o {
  -webkit-box-flex: 1;
  padding: 1rem;
  box-sizing: border-box;
}
.wsy #wrap section .details1_1 dl img {
  width: 100%;
  height: auto;
  background: none;
}
.wsy #wrap section .details1_1 dl dd h2 {
  padding-top: 0.5rem;
}
.wsy #wrap section .details1_1 dl dd b {
  color: #FF7F1D;
}
.wsy #wrap section .details1_1 dl dd span {
  color: #ccc;
  text-decoration: line-through;
}
.wsy #wrap .footer {
  width: 100%;
  height: 5.2rem;
  background: none;
  border-top: 1px solid #ccc;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-orient: horizontal;
  line-height: 5rem;
}
.wsy #wrap .footer .details2 {
  text-align: center;
  -webkit-box-flex: 1;
  font-size: 2rem;
  color: #fff;
}
.wsy #wrap .footer .details2 p img {
  width: auto;
  height: 2.5rem;
  background: none;
  vertical-align: middle;
  padding-left: 0.6rem;
  box-sizing: border-box;
}
.wsy #wrap .footer div:nth-child(2) {
  background: #ff7e1c;
}
.wsy #wrap .footer div:nth-child(3) {
  background: #ff540c;
}
.wsy #wrap .footer1 {
  width: 100%;
  height: 5.2rem;
  background: none;
  border-top: 1px solid #ccc;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-orient: horizontal;
  line-height: 5rem;
  text-align: center;
  font-size: 1.6rem;
}
.wsy #wrap .footer1 div {
  -webkit-box-flex: 1;
  border-top: 1px solid #ccc;
}
.wsy #wrap .footer1 img {
  width: auto;
  height: 2rem;
  background: none;
  vertical-align: middle;
}
.wsy #wrap .footer1 b {
  margin-left: 0.5rem;
}
.wsy #wrap .footer1 div:nth-child(1) {
  border-right: 1px solid #ccc ;
}
