@import url(reset.css);
a {
  text-decoration: none;
}
.box {
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.boxx {
  -webkit-box-orient: horizontal;
}
.box_1 {
  -webkit-box-flex: 1;
}
.more {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.r {
  position: relative;
}
.a {
  position: absolute;
}
html {
  font-size: 62.5%;
}
html,
body,
#wrap {
  width: 100%;
  height: 100%;
  background: none;
}
#wrap {
  position: relative;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
#wrap .zhe {
  width: 100%;
  height: 100%;
  background: #000000;
  display: none;
  opacity: 0.7;
  position: absolute;
  top: 0;
  left: 0;
}
#wrap .zhe1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: none;
  display: none;
}
#wrap .zhe1 .zhe1_1 {
  padding: 0 3rem;
  box-sizing: border-box;
  text-align: center;
  width: 100%;
  height: auto;
  background: none;
  position: absolute;
  top: 35%;
  left: 0;
}
#wrap .zhe1 .zhe1_1 p {
  width: 100%;
  height: auto;
  background: #ffffff;
}
#wrap .zhe1 .zhe1_1 p:nth-child(1) {
  padding: 3.5rem 0 2.3rem 0;
  box-sizing: border-box;
  border-bottom: 1px solid #ccc;
  border-radius: 5px 5px 0 0 ;
  font-size: 1.4rem;
}
#wrap .zhe1 .zhe1_1 p:nth-child(2) {
  padding: 1.2rem;
  box-sizing: border-box;
  font-size: 1.6rem;
  font-weight: bold ;
  color: #679DFF;
  border-bottom: 1px solid #ccc;
  border-radius: 0 0 5px 5px ;
}
#wrap header {
  width: 100%;
  height: 4.3rem;
  background: none;
  border-bottom: 1px solid #ccc;
  line-height: 4.3rem;
  text-align: center;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-orient: horizontal;
}
#wrap header .left,
#wrap header .right {
  width: 3.7rem;
  height: auto;
  background: none;
}
#wrap header .left img,
#wrap header .right img {
  width: 1rem;
  height: auto;
  background: none;
  padding-top: 1.3rem;
  box-sizing: border-box;
}
#wrap header .left b,
#wrap header .right b {
  font-weight: initial;
  font-size: 1.5rem;
}
#wrap header h3 {
  -webkit-box-flex: 1;
  padding: 0 1rem;
  box-sizing: border-box;
  font-size: 1.7rem;
}
#wrap section {
  -webkit-box-flex: 1;
  background: #f2f2f2;
  overflow: auto;
}
#wrap section .trade_top {
  width: 100%;
  height: auto;
  background: #ffffff;
}
#wrap section .trade_top p {
  padding: 1rem;
  box-sizing: border-box;
  border-bottom: 1px solid #F2F2F2;
}
#wrap section .trade_top .trade_top_1 {
  padding: 1rem;
  box-sizing: border-box;
}
#wrap section .trade_top .trade_top_1 span {
  display: inline-block;
  padding-right: 1rem;
  box-sizing: border-box;
  width: auto;
  height: 100%;
  background: none;
}
#wrap section .trade_top .trade_top_1 span img {
  width: 6rem;
  height: auto;
  background: none;
}
#wrap section .trade_top1 {
  width: 100%;
  height: auto;
  background: #ffffff;
  margin-top: 0.4rem;
}
#wrap section .trade_top1 h2 {
  width: 100%;
  height: auto;
  background: none;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: bold ;
  border-bottom: 1px solid #ccc;
}
#wrap section .trade_top1 .top1_ {
  padding: 0  0 0 1rem;
  box-sizing: border-box;
}
#wrap section .trade_top1 .top1_ p {
  padding: 0.5rem 0;
  border-bottom: 1px solid #ccc;
}
#wrap section .trade_top1 .top1_ p span {
  margin-left: 0.7rem;
  box-sizing: border-box;
}
#wrap section .trade_top1 .top1_ p input {
  width: auto;
  height: auto;
  background: none;
  border: none;
  outline: none;
  color: #000;
}
#wrap section .trade_top1 .top1_ .i {
  float: right;
  padding-top: 0.3rem;
  margin-right: 1rem;
}
#wrap section .trade_top1 .top1_1 p {
  background: none;
  border: none;
}
#wrap section .trade_top1 .trade_top1_1 {
  padding: 1rem;
  box-sizing: border-box;
  border-bottom: 1px solid #ccc;
}
#wrap section .trade_top1 .trade_top1_1 .trade_top1_ {
  border: 1px solid #000;
  border-radius: 0.5rem ;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-orient: horizontal;
}
#wrap section .trade_top1 .trade_top1_1 .trade_top1_ .trade_top1_left {
  -webkit-box-flex: 1;
  border-bottom: 1px solid #ccc;
}
#wrap section .trade_top1 .trade_top1_1 .trade_top1_ .trade_top1_left .div {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-orient: horizontal;
  padding: 1rem 0;
  box-sizing: border-box;
  border-bottom: 1px solid #ccc;
}
#wrap section .trade_top1 .trade_top1_1 .trade_top1_ .trade_top1_left .div span {
  -webkit-box-flex: 1;
}
#wrap section .trade_top1 .trade_top1_1 .trade_top1_ .trade_top1_left .div .input {
  width: 100%;
  height: auto;
  background: none;
  -webkit-box-flex: 1;
}
#wrap section .trade_top1 .trade_top1_1 .trade_top1_ .trade_top1_left .div .input input {
  width: 100%;
  height: auto;
  background: none;
  outline: none;
  border: none;
}
#wrap section .trade_top1 .trade_top1_1 .trade_top1_ .trade_top1_right {
  width: 4rem;
  height: auto;
  background: none;
  text-align: center;
  border-left: 1px solid #ccc ;
  padding-top: 7rem;
  box-sizing: border-box;
}
#wrap section .trade_top1 .trade_top1_1 .trade_top1_ .trade_top1_right img {
  width: 1.8rem;
  height: auto;
  background: none;
}
.trade_top1_2 {
  padding: 0 1rem;
  box-sizing: border-box;
}
.trade_top1_2 button {
  width: 100%;
  height: auto;
  background: #f0f0f0;
  text-align: center;
  padding: 0.3rem 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 0.25rem ;
  margin-top: 1rem;
}
