@import url("reset.css");
body,
html,
.wrap {
  width: 100%;
  height: 100%;
  background: #f2f2f2;
}
body,
html {
  font-size: 62.5%;
}
.wrap header {
  border-bottom: 1px solid #bfbfbf;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  width: 100%;
  height: 4rem;
  background: #f7f7f7;
}
.wrap header .head_left {
  text-align: center;
  width: 4rem;
  height: 4rem;
  background: none;
}
.wrap header .head_left img {
  margin-top: 1.2rem;
  width: auto;
  height: 1.8rem;
  background: none;
}
.wrap header .head_center {
  -webkit-box-flex: 1;
  text-align: center;
  line-height: 4rem;
  font-size: 1.7rem;
  color: #262626;
  font-weight: bold;
}
.wrap header .head_right {
  text-align: left;
  width: 4rem;
  height: 4rem;
  background: none;
}
.wrap header .head_right img {
  margin-top: 1.2rem;
  width: auto;
  height: 1.8rem;
  background: none;
}
.wrap section {
  color: #333333;
  width: 100%;
  height: auto;
  background: none;
  -webkit-box-flex: 1;
}
.wrap section .con {
  border-bottom: 1px solid #ccc;
  font-size: 1.4rem;
  width: 100%;
  height: auto;
  background: #ffffff;
  padding: 0.8rem;
  box-sizing: border-box;
}
.wrap section .con .con_left {
  float: left;
}
.wrap section .con .con_right {
  float: right;
}
.wrap section .con .con_right img {
  width: 1rem;
  height: auto;
  background: none;
}
.wrap section .box .con {
  border-bottom: 1px solid #ccc;
  font-size: 1.4rem;
  width: 100%;
  height: auto;
  background: #ffffff;
  padding: 0.8rem;
  box-sizing: border-box;
}
.wrap section .box .con .con_left {
  float: left;
}
.wrap section .box .con .con_right {
  float: right;
}
.wrap section .box .con .con_right img {
  width: 1rem;
  height: auto;
  background: none;
}
.wrap section .box2,
.wrap section .box3 {
  margin-top: 1rem;
}
