@import url("reset.css");
html,
body,
.wrap {
  width: 100%;
  height: 100%;
  background: none;
}
html {
  font-size: 62.5%;
}
.yxd {
  background: #f4f0ef;
}
.yxd .wrap {
  width: 100%;
  height: auto;
  background: none;
  background: #f4f0ef;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.yxd .wrap .logo {
  text-align: center;
  width: 100%;
  height: auto;
  background: none;
}
.yxd .wrap .logo img {
  width: auto;
  height: 10rem;
  background: none;
}
.yxd .wrap .name {
  line-height: 4rem;
  font-size: 1.6rem;
  text-align: center;
  width: 100%;
  height: auto;
  background: none;
}
.yxd .wrap .input {
  padding: 0 1.2rem;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  background: none;
}
.yxd .wrap .input .input_one {
  padding: 0.5rem 0 ;
  box-sizing: border-box;
  line-height: 3rem;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
.yxd .wrap .input .input_one .one_left {
  width: 5rem;
  height: auto;
  background: none;
}
.yxd .wrap .input .input_one .one_left img {
  width: auto;
  height: 3.4rem;
  background: none;
}
.yxd .wrap .input .input_one .one_right {
  -webkit-box-flex: 1;
  width: 100%;
  height: auto;
  background: #f4f0ef;
  border-bottom: 1px solid #ff7d1b;
}
.yxd .wrap .input .input_one .one_right input {
  padding-top: 1rem;
  box-sizing: border-box;
  float: left;
  -webkit-box-flex: 1;
  background: #f4f0ef;
  outline: none;
  border: none;
}
.yxd .wrap .input .input_one .one_right span {
  text-align: center;
  float: right;
  display: inline-block;
}
.yxd .wrap .input .input_one .one_right span img {
  width: 2.5rem;
  height: auto;
  background: none;
  color: #ccc;
}
.yxd .wrap .button {
  font-size: 1.6rem;
  color: #fff;
  text-align: center;
  margin-top: 2rem;
  width: 100%;
  height: auto;
  background: #ff7d1b;
  padding-top: 1rem 1rem;
  box-sizing: border-box;
  line-height: 3rem;
  border-radius: 5px;
}
.yxd .wrap .put {
  margin-top: 1rem;
  color: #507daf;
  width: 100%;
  height: auto;
  background: none;
  line-height: 1.2rem;
}
.yxd .wrap .put .p_left {
  float: left;
}
.yxd .wrap .put .p_right {
  float: right;
}
