@import url("reset.css");
.more {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.r {
  position: relative;
}
.a {
  position: absolute;
}
html,
body,
.wrap {
  width: 100%;
  height: 100%;
  background: #f2f2f2;
}
html {
  font-size: 62.5%;
}
.yxd .wrap {
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.yxd .wrap .cover,
.yxd .wrap .cover2 {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  background: #000000;
}
.yxd .wrap .over,
.yxd .wrap .over2 {
  display: none;
  text-align: center;
  padding: 0 3rem;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background: none;
  position: absolute;
  left: 0;
  top: 0;
}
.yxd .wrap .over .cover_top,
.yxd .wrap .over2 .cover_top,
.yxd .wrap .over .cover_top2,
.yxd .wrap .over2 .cover_top2 {
  border-radius: 5px;
  margin: 12rem auto 0;
  width: 100%;
  height: auro;
  background: #ffffff;
}
.yxd .wrap .over .cover_top .ttop,
.yxd .wrap .over2 .cover_top .ttop,
.yxd .wrap .over .cover_top2 .ttop,
.yxd .wrap .over2 .cover_top2 .ttop,
.yxd .wrap .over .cover_top .ttop2,
.yxd .wrap .over2 .cover_top .ttop2,
.yxd .wrap .over .cover_top2 .ttop2,
.yxd .wrap .over2 .cover_top2 .ttop2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  width: 100%;
  height: auto;
  background: none;
  border-bottom: 1px solid #ccc;
}
.yxd .wrap .over .cover_top .ttop h2,
.yxd .wrap .over2 .cover_top .ttop h2,
.yxd .wrap .over .cover_top2 .ttop h2,
.yxd .wrap .over2 .cover_top2 .ttop h2,
.yxd .wrap .over .cover_top .ttop2 h2,
.yxd .wrap .over2 .cover_top .ttop2 h2,
.yxd .wrap .over .cover_top2 .ttop2 h2,
.yxd .wrap .over2 .cover_top2 .ttop2 h2 {
  font-size: 1.6rem;
  line-height: 6rem;
  font-weight: bold;
}
.yxd .wrap .over .cover_top .ttop2 h2,
.yxd .wrap .over2 .cover_top .ttop2 h2,
.yxd .wrap .over .cover_top2 .ttop2 h2,
.yxd .wrap .over2 .cover_top2 .ttop2 h2 {
  line-height: 3rem;
}
.yxd .wrap .over .cover_top .button,
.yxd .wrap .over2 .cover_top .button,
.yxd .wrap .over .cover_top2 .button,
.yxd .wrap .over2 .cover_top2 .button,
.yxd .wrap .over .cover_top .button2,
.yxd .wrap .over2 .cover_top .button2,
.yxd .wrap .over .cover_top2 .button2,
.yxd .wrap .over2 .cover_top2 .button2 {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  width: 100%;
  height: auto;
  background: none;
}
.yxd .wrap .over .cover_top .button p,
.yxd .wrap .over2 .cover_top .button p,
.yxd .wrap .over .cover_top2 .button p,
.yxd .wrap .over2 .cover_top2 .button p,
.yxd .wrap .over .cover_top .button2 p,
.yxd .wrap .over2 .cover_top .button2 p,
.yxd .wrap .over .cover_top2 .button2 p,
.yxd .wrap .over2 .cover_top2 .button2 p {
  font-size: 1.4rem;
  padding: 1rem;
  box-sizing: border-box;
  text-align: center;
  color: #1187ff;
  -webkit-box-flex: 1;
}
.yxd .wrap .over .cover_top .button p:nth-child(1),
.yxd .wrap .over2 .cover_top .button p:nth-child(1),
.yxd .wrap .over .cover_top2 .button p:nth-child(1),
.yxd .wrap .over2 .cover_top2 .button p:nth-child(1),
.yxd .wrap .over .cover_top .button2 p:nth-child(1),
.yxd .wrap .over2 .cover_top .button2 p:nth-child(1),
.yxd .wrap .over .cover_top2 .button2 p:nth-child(1),
.yxd .wrap .over2 .cover_top2 .button2 p:nth-child(1) {
  border-right: 1px solid #CCCCCC;
}
.yxd .wrap header {
  border-bottom: 1px solid #bfbfbf;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  width: 100%;
  height: 4rem;
  background: #f7f7f7;
}
.yxd .wrap header .head_left {
  text-align: center;
  width: 3rem;
  height: 4rem;
  background: none;
}
.yxd .wrap header .head_left img {
  margin-top: 1.2rem;
  width: auto;
  height: 1.8rem;
  background: none;
}
.yxd .wrap header .head_center {
  -webkit-box-flex: 1;
  text-align: center;
  line-height: 4.4rem;
  font-size: 1.6rem;
  color: #262626;
}
.yxd .wrap header .head_right {
  text-align: center;
  width: 3rem;
  height: 4rem;
  background: none;
}
.yxd .wrap header .head_right img {
  margin-top: 1.2rem;
  width: auto;
  height: 1.8rem;
  background: none;
}
.yxd .wrap section {
  overflow-y: auto;
  -webkit-box-flex: 1;
}
.yxd .wrap section::-webkit-scrollbar {
  width: 0;
}
.yxd .wrap section .address {
  font-size: 1.4rem;
  padding: 0.5rem 1rem;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  background: #ffffff;
}
.yxd .wrap section .address .ads_left {
  line-height: 2rem;
}
.yxd .wrap section .address .ads_left img {
  margin-right: 0.5rem;
  width: 1.2rem;
  height: auto;
  background: none;
}
.yxd .wrap section .address .ads_left h2 {
  width: 100%;
  height: auto;
  background: none;
}
.yxd .wrap section .address .ads_left h3 {
  width: 100%;
  height: auto;
  background: none;
}
.yxd .wrap section .text {
  padding: 0.5rem 0rem 1.5rem 1rem;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  background: #ffffff;
}
.yxd .wrap section .text .list {
  border-bottom: 1px solid #e6e6e6;
  font-size: 1.4rem;
  line-height: 2.5rem;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  width: 100%;
  height: auto;
  background: #ffffff;
}
.yxd .wrap section .text .list .list_left {
  width: 5rem;
  height: auto;
  background: none;
}
.yxd .wrap section .text .list .list_right {
  -webkit-box-flex: 1;
  width: 100%;
  height: auto;
  background: none;
}
.yxd .wrap section .text .list .list_right img {
  width: 1.5rem;
  height: auto;
  background: none;
}
.yxd .wrap section .text .list .content {
  padding-top: 0.4rem;
  padding-right: 1rem;
  box-sizing: border-box;
  line-height: 1.5rem;
}
.yxd .wrap section .text .pic {
  padding-bottom: 0.8rem;
  border-bottom: 1px solid #f2f2f2;
  width: 100%;
  height: auto;
  background: none;
}
.yxd .wrap section .text .pic .pic_tit {
  width: 100%;
  height: auto;
  background: none;
  font-size: 1.4rem;
  padding: 0.5rem 0;
  box-sizing: border-box;
}
.yxd .wrap section .text .pic .pic_three {
  width: 100%;
  height: auto;
  background: none;
}
.yxd .wrap section .text .pic .pic_three img {
  margin-right: 1rem;
  width: auto;
  height: 7rem;
  background: none;
}
.yxd .wrap section .text .money_detail {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  width: 100%;
  height: auto;
  background: none;
  padding: 0.8rem;
  box-sizing: border-box;
  border-bottom: 1px solid #f2f2f2;
}
.yxd .wrap section .text .money_detail .con {
  color: #a6a6a6;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
.yxd .wrap section .text .money_detail .con > div {
  -webkit-box-flex: 1;
}
.yxd .wrap section .text .money_detail .con .con_right {
  text-align: right;
}
.yxd .wrap section .text .money_detail .color {
  color: #ff7d1b;
}
.yxd .wrap footer {
  padding: 0.3rem 0.5rem;
  box-sizing: border-box;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  width: 100;
  height: 5.5rem;
  background: #ffffff;
  border-top: 1px solid #ccc;
}
.yxd .wrap footer > div {
  -webkit-box-flex: 1;
}
.yxd .wrap footer .foot_left .title,
.yxd .wrap footer .foot_left .status {
  font-size: 1.4rem;
  font-weight: bold;
}
.yxd .wrap footer .foot_left p {
  color: #666666;
}
.yxd .wrap footer .foot_left p .time {
  color: #ff7d1b;
}
.yxd .wrap footer .foot_right {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  text-align: center;
  padding-top: 1rem;
  box-sizing: border-box;
}
.yxd .wrap footer .foot_right span {
  font-size: 1.4rem;
  border-radius: 5px;
  line-height: 2.5rem;
  color: #ff7d1b;
  border: 1px solid #ff7d1b;
  text-align: center;
  display: inline-block;
  width: 6rem;
  height: 2.5rem;
  background: none;
}
